body{
    width: 23.4375rem;
    height: 140.75rem;
}
header{
    width: 23.4375rem;
    height: 3.9375rem;
    
    img{
        width: 50%;
        height: auto;
    }

    
}
.restaurants{
    flex-direction: column;
    display: flex;

    img{
        width: 50%;
        height: 50%;
    }
}